@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-variable.woff2') format('woff2');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi-variableItalic.woff2') format('woff2');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
  --primary: #008080;
  --primary-hover: #006060;
  --dark-gray: #666A71;
  --red: #D53600;
  --amber: #FFBF00;

  --font-satoshi: "Satoshi", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-dark-gray: var(--dark-gray);
  --color-red: var(--red);
  --color-amber: var(--amber);

  --font-sans: var(--font-satoshi);

  --spacing-fluid-main: clamp(1.25rem, 3.094vw + 0.525rem, 3rem);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

button:not(:disabled) {
  cursor: pointer;
}